.THIS.externalRed {    
    background-color:#C24F4F;
}
.THIS.externalYellow {    
    background-color:#FFE23D;
}
.THIS.externalBlue {    
    background-color:#3D5EFF;
}
.THIS.TextBrown {    
    color:brown;
}
.THIS.TextBlack {    
    color:black;
}
.THIS.TextGray {    
    color:gray;
}



